@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
body{
	font-family: Inter;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}
.page {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1710px;
	margin: 0 auto;
	padding: 0px 15px;
}
.title {
	color: #141E38;
	font-size: 48px;
	font-weight: 600;
	line-height: 1.3;
}
.button{
	border-radius: 40px;
	padding: 8px 16px;
	text-align: center;
	color: #F5F5F5;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	border: 1px solid #e0af002f;
	background: none;
}
.button:hover{
	border: 1px solid #E0B100;
}
.button-yellow{
	border-radius: 24px;
	border: 1px solid #E0B100;
	background: #E0B100;
	color: #F5F5F5;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	padding: 16px 40px;
}
.button-yellow:hover{
	background: #b89102;
}
/*-----------------------------------------------------------------*/
._ipg{
	position: relative;
}
._ipg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*------------------------------------header------------------------*/
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	flex-direction: column;
}
.row-top-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0px;
}
.row-top-header__contact {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 40px;
	color: #F5F5F5;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}
.row-top-header__social {
	display: flex;
	gap: 40px;
}
.row-top-header__icom {
	display: flex;
	gap: 16px;
}
.row-top-header__login {
	display: flex;
	gap: 16px;
	align-items: center;
	padding: 0px 40px;
	color: #F5F5F5;
	border-left: 1px solid rgba(245, 245, 245, 0.4);
	border-right: 1px solid rgba(245, 245, 245, 0.4);
}
.row-top-header__nrs {
	display: flex;
	align-items: center;
}
.row-top-header__select{
	background-color:inherit;
	color: #F5F5F5;
}
.row-top-header__option{
	color: #141E38;
}
.row-bottom-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0px;
}
.row-bottom-header__logo {
	display: flex;
	gap: 8px;
}
.row-bottom-header__logo-text {
	color: #E0B100;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.66;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 3px;
	column-gap: 40px;
	justify-content: flex-end;
}
.menu__link {
	color: #F5F5F5;
	font-size: 18px;
	font-weight: 600;
	line-height: 1;
}
.menu__link:hover {
	text-decoration: underline;
}
.icon-menu{
	display: none;
}

/*------------------------------world-------------------------------------------------*/
.main-block{
	position: relative;
}
.main-block__background{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.main-block__body{
	position: relative;
	z-index: 2;
	padding: 232px 0px 80px 0px;
	max-width: 50%;
}
.main-block__title{
	color: #F5F5F5;
	font-size: 80px;
	font-weight: 600;
	line-height: 1;
}
.main-block__title:not(:last-child){
	margin-bottom: 40px;
}
.main-block__text{
	color: #F5F5F5;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;
}
.main-block__text:not(:last-child){
	margin-bottom: 80px;
}
.form-main-block {
	display: flex;
	flex-direction: column;
}
.form-main-block__fieldset{
	display: flex;
	align-items: center;
}
.form-main-block__body {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 24px;
	row-gap: 52px;
}
.form-main-block__label {
	color: #F5F5F5;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
}
.form-main-block__label:not(:last-child){
	margin-bottom: 8px;
}
.form-main-block__fieldset {
	border-bottom: 1px solid #F5F5F5;
	padding: 12px 0px;
	min-width: 332px;
}

.form-main-block__option{
	color: rgba(245, 245, 245, 0.40);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
#form-main-block__input{
	background: none;
	color: #F5F5F5;
	font-size: 20px;
}
#form-main-block__input::placeholder{
	color: rgba(245, 245, 245, 0.40);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	padding-left: 16px;
}
.form-main-block__button{
	margin-top: 40px;
}
.form-main-block__select{
	min-width: 332px;
	background: none;
	color: rgba(245, 245, 245, 0.40);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	margin-left: 16px;
	padding-right: 75%;
}
.form-main-block__option{
	color: #141E38;
}
.form-main-block__button-block{
	display: flex;
	justify-content: flex-end;
}
.form-main-block__button{
	width: 222px;
}
/*----------------------------------destinations--------------------------------------------------*/

.destinations-block {
	margin-top: 64px;
	margin-bottom: 16px;
}
.destinations-block__container {
	display: flex;
	justify-content: space-between;
	gap: 166px;
}
.destinations-block__content {
	flex: 0 1 22.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.destinations-block__text {
	color: #141E38;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	margin: 40px 0px;
}
.destinations-block__button {
	align-self: flex-start;
}
.destinations-block__items {
	flex: 0 1 56.8%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 40px;
}
.item-block-destinations__item-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item-block-destinations__airplane-icon{
	padding-top: 10%;
}
.item-block-destinations {
	cursor: pointer;
}
.item-block-destinations:hover .item-block-destinations__image img{
	transform: scale(1.1);
}
.item-block-destinations__image img{
	border-radius: 40px;
	transition: all 0.3s ease 0s;
	width: 100%;
}
.item-block-destinations__location {
	color: #141E38;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	margin-top: 24px;
}
.item-block-destinations__location:not(:last-child){
	margin-bottom: 8px;
}
.item-block-destinations__location span{
	color: #E0B100;
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
}
.item-block-destinations__onwards {
	color: #141E38;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
}
/*--------------------------------------------------------------------------------*/

.services-block {
	margin-top: 160px;
}

.services-block__container {
	display: flex;
	justify-content: space-between;
}
.content-services-block {
	flex: 0 1 38%;
	align-items: flex-start;
}
.content-services-block__items {
	display: flex;
	flex-direction: column;
	counter-reset: num;
}
ol{
	list-style-type:none;
}

.content-services-block__item {
	position: relative;
}
.content-services-block__item::before{
	content: counter(num);
	counter-increment: num;
	position: absolute;
	top: 0;
	left: 0;
}
.item-block-service {
	color: #141E38;
	font-size: 32px;
	font-weight: 600;
	line-height: 1;
	padding-left: 43px;
}
.item-block-service:not(:last-child){
	margin-bottom: 32px;
}
.item-block-service__title:not(:last-child){
	margin-bottom: 16px;
}
.item-block-service__text {
	color: #141E38;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
}
.best-services-block {
	flex: 0 1 62%;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.best-services-block img{
	max-width: 100%;
	align-self: first baseline;
}
.best-services-block__title {
	margin-bottom: 40px;
}
.best-services-block__button {
	margin-bottom: 22px;
}

/*-------------------------------subscribe--------------------------------------------*/

.subscribe-block {
	margin-top: 80px;
}
.subscribe-block__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	border-radius: 40px;
	background: #E0B100;
	padding: 80px 284px;
}
.subscribe-block__title {
	text-align: center;
}
.subscribe-block__text {
	color: #141E38;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
}
.subscribe-block__form {
	display: flex;
}
.form-block-subscribe__fieldset {
	display: flex;
	align-items: center;
	padding: 40px;
	gap: 45px;
	background: #F5F5F5;
	border-radius: 40px;
}
.form-block-subscribe__left-blok {
	border-bottom: 1px solid #141E38;
}
.form-block-subscribe__left-blok img{
	margin-right: 16px;
}
#form-block-subscribe__input{
	background: #F5F5F5;
	width: 362px;
	font-size: 16px;
	color: #141E38;
}
#form-block-subscribe__input::placeholder{
	color: rgba(20, 30, 56, 0.40);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}
/*-------------------------------footer---------------------------------------------*/

.footer__container {
	margin-top: 168px;
	margin-bottom: 80px;
}
.footer-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer-block__logo {
	display: flex;
	gap: 8px;
	align-items: center;
	margin-bottom: 48px;
}
.footer-block__logo-text {
	color: #E0B100;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.66;
}
.footer-block__text {
	color: #141E38;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
}
.footer-block__menu {
	border-top: 1px solid #141E38;
	border-bottom: 1px solid #141E38;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
}
.menu-footer__list {
	display: flex;
	justify-content: space-between;
}
.menu-footer__link {
	color: #141E38;
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
}
.footer-block__copy {
	color: #141E38;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.6;
}
.footer-block__copy a{
	text-decoration: underline;
	color: #141E38;
}

/*------------------------------------adaptive-1199.98px------------------------------------*/
@media(max-width:1199.98px){
	.form-main-block__body{
		grid-template-columns: repeat(1, 1fr);
	}
	.main-block__background img {
		object-position: 30%;
	}
	.destinations-block__container{
		flex-direction: column;
	}
	.subscribe-block__container {
		padding: 80px 184px;
	}
}
/*---------------------------adaptive--919.98px-------------------------------------------*/
@media(max-width:919.98px){
	.row-top-header{
		flex-direction: column-reverse;
		gap: 20px;
	}
	.main-block__body{
		max-width: 100%;
		text-align: center;
		padding: 200px 0px 60px 0px;
	}
	.main-block__title{
		font-size: 60px;
	}
	.main-block__title:not(:last-child) {
		margin-bottom: 65px;
	}
	.main-block__background img{
		object-position:20%;
	}
	.form-main-block__button-block{
		justify-content: center;
	}
	.services-block__container{
		flex-direction: column-reverse;
	}
	.subscribe-block__container {
		padding: 80px 84px;
	}
	.footer__container {
		margin-top: 100px;
		margin-bottom: 60px;
	}
}

/*------------------------------adaptive-767.98px--------------------------------*/

@media(max-width:767.98px) {
	.header__container{
		flex-direction: column;
	}
	.menu__list {
		column-gap: 15px;
	}

	.icon-menu {
		display: block;
		flex: 0 0 40px;
		height: 40px;
		position: relative;
		background-color:#ffffff00;
		border: 4px solid #E0B100;
		border-radius: 10px;
		z-index: 5;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: '';
		right: 9px;
		position: absolute;
		width: 15px;
		height: 3px;
		background-color: #E0B100;
		border-radius: 10px;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		top: 5px;
	}
	.icon-menu::after {
		bottom: 5px;
	}
	.icon-menu span {
		top: 46%;
	}
	.menu-open .icon-menu span {
		width: 0;
	}
	.menu-open .icon-menu::before {
		top: 46%;
		transform: rotate(-45deg);
		background-color: #F5F5F5;
		width: 37px;
	}
	.menu-open .icon-menu::after {
		bottom: 45%;
		transform: rotate(45deg);
		background-color: #F5F5F5;
		width: 37px;
	}
	.menu-open .icon-menu{
		border: none;
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #322700f7;
		left: -100%;
		top: 0;
		padding: 100px 15px 30px 15px;
		overflow: auto;
		transition: left 0.3s ease 0s;
	}
	.menu__body::before {
		content: "";
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		height: 70px;
		z-index: 2;
		transition: left 0.3s ease 0s;
	}
	.menu__list {
		row-gap: 60px;
		padding-top: 80px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu__link {
		text-align: center;
		font-size: 32px;
	}
	.header__container {
		min-height: 70px;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before {
		left: 0;
	}
	.row-top-header{
		gap: 20px;
	}
	.destinations-block__items{
		grid-template-columns: repeat(2,1fr);
	}
	.destinations-block__container{
		gap: 80px;
	}
	.subscribe-block__container {
		padding: 80px 20px;
	}
	#form-block-subscribe__input {
		width: 262px;
	}
	.menu-footer__list{
		flex-direction: column;
		gap: 8px;
		align-items: center;
	}
	.footer__container {
		margin-top: 80px;
		margin-bottom: 40px;
	}
}
/*-----------------------------adaptive-522.98px----------------------------------------*/
@media(max-width:522.98px){
	.row-top-header__social{
		flex-wrap: wrap;
		justify-content: center;
	}
	.header__container{
		flex-direction: column-reverse;
	}
	.row-top-header__contact{
		justify-content:space-between
	}
	.main-block__body{
		padding: 300px 0px 40px 0px;
	}
	.destinations-block__items {
		grid-template-columns: repeat(1, 1fr);
	}
	.item-block-destinations__location,
	.item-block-destinations__onwards{
		text-align: center;
		font-size: 26px;
	}
	.item-block-destinations__location span{
		font-size: 35px;
	}
	.destinations-block__button{
		width: 100%;
		text-align: center;
		font-size: 25px;
	}
	.item-block-destinations__item-bottom{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	.best-services-block__title{
		text-align: center;
	}
	.best-services-block__button{
		width: 100%;
		text-align: center;
		font-size: 25px;
	}
	#form-block-subscribe__input{
		width: 280px;
	}
	.form-block-subscribe__fieldset{
		flex-direction: column;
		padding: 20px;
		gap: 20px;
	}
	.subscribe-block__title {
		font-size: 38px;
	}
	.footer__container {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

/*---------------------------------adaptive-399.98px------------------------------------*/

@media(max-width:399.98px){
	.main-block__body {
		padding: 370px 0px 20px 0px;
	}
	.main-block__title {
		font-size: 40px;
	}
	.subscribe-block__title{
		font-size:32px;
	}
}
